[FORMAT]
max-line-length = 120
indent-string = "    "

[MESSAGES CONTROL]
disable=
    missing-docstring,
    invalid-name,
    line-too-long,
    too-many-lines,
    too-many-statements,
    too-many-branches,
    too-many-locals,
    too-many-arguments,
    too-many-nested-blocks,
    unnecessary-lambda,
    unnecessary-pass,
    C0103,
    C0411,
    C0412,
    C0413

[BASIC]
good-names=i,j,k,ex,Run,_

[DESIGN]
max-parents = 7
min-public-methods = 0
max-args = 5
max-attributes = 7

[MISCELLANEOUS]
notes = FIXME, TODO, XXX

[REPORTS]
output-format=text
reports=yes
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10) / 10